asttokens
attrs
backcall
backports.functools-lru-cache
click==8.1.3
colorama 
commonmark==0.9.1
cvxopt==1.2.7
cvxpy==1.2.2
debugpy 
decorator
dill
ecos==2.0.10
entrypoints
executing
fastjsonschema
importlib-metadata
importlib-resources
ipykernel
ipython
ipywidgets
jedi
jsonschema
jupyter_client
jupyter_core
jupyterlab-widgets
llvmlite==0.39.1
matplotlib
matplotlib-inline
nbformat
nest-asyncio
numba==0.56.4
numpy
osqp==0.6.2.post8
packaging
pandarallel
pandas==1.5.2
parso
pexpect
pickleshare
pkgutil_resolve_name
platformdirs
prompt-toolkit
psutil
ptyprocess
pure-eval
pyannote.core==4.5
pyannote.database==4.1.3
pygamma-agreement
Pygments
pympi-ling==1.70.2
pyparsing
pyrsistent
python-dateutil
pytz
PyYAML==6.0
pyzmq
qdldl==0.1.5.post2
rich==12.6.0
scipy==1.9.3
scs==3.2.2
shellingham==1.5.0
simplejson==3.18.0
six
sortedcontainers==2.4.0
stack-data
TextGrid==1.5
tornado
tqdm
traitlets
typer==0.7.0
typing_extensions
wcwidth
widgetsnbextension
zipp
